<h2>Search Filter Demo</h2>
<br/>
<input type="text" [(ngModel)]="search" class="filter-textbox" placeholder="Type to filter by any field..."/>
<br/><br/>
<table id="ng4pipes-example-table">
  <tr>
    <th>NAME</th>
    <th>10th</th>
    <th>EMAIL</th>
    <th>12th</th>
    <th>AGE</th>
  </tr>
  <tr *ngFor="let student of students |SearchFilter:search">
    <td>{{student.name}}</td>
    <td>{{student.matrix}}</td>
    <td>{{student.email}}</td>
    <td>{{student.senior}}</td>
    <td>{{student.age}}</td>
  </tr>
</table>
<br/>
<hr/>
<br/>
